<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mesto</title>
  <script src="../static/js/jquery-3.4.1.min.js"></script>
  <script src="../static/js/init.js"></script>
  <link rel="stylesheet" href="../static/css/pages/index.css">
</head>
<body>
  <div class="root">
    <header class="header root__section">
      <img src="../static/images/logo.svg" alt="mesto logo" class="logo">
    </header>
    <div class="profile root__section">
      <div class="user-info">
        <div class="user-info__photo"></div>
        <div class="user-info__data">
          <h1 class="user-info__name"></h1>
          <p class="user-info__job">Sailor, Researcher</p>
        </div>
        <button class="button user-info__button">+</button>
      </div>
    </div>
    <div class="places-list root__section">
    </div>
    <div class="popup">
      <div class="popup__content">
        <img src="../static/images/close.svg" alt="" class="popup__close">
        <h3 class="popup__title">Новое место</h3>
        <form class="popup__form" name="new_image">
            <input type="text" name="name" class="popup__input popup__input_type_name" placeholder="Название">
            <input type="text" name="link" class="popup__input popup__input_type_link-url" placeholder="Ссылка на картинку">
            <button type class="button popup__button">+</button>
        </form>
      </div>
    </div>

    <div id="login_menu" class="popup" >
      <div class="popup__content">
        <h3 class="popup__title popup__title_login">Вход</h3>

        <form class="popup__form" name="sign_in_form" method="post">
            <input type="text" name="sign_in_username" class="popup__input" placeholder="Имя пользователя">
            <input type="password" name="sign_in_password" class="popup__input" placeholder="пароль">
            <div class="popup__checkbox">
                <input type="checkbox" id="remember_me_checkbox" name="remember_me">
                <label for="remember_me">запомнить меня</label>
            </div>
            <h3 id="sign_in_error_message" class="popup__title popup__title-message"></h3>
            <div class="popup__buttons-frame">
              <button type="button" id="button_login" class="button popup__button-login">Войти</button>
            </div>
        </form>
        <p id="create_account_link" class="popup__link">Создать аккаунт</p>
      </div>
    </div>

      <div id="signup_menu" class="popup" >
          <div class="popup__content">
            <h3 class="popup__title popup__title_signup">Новый пользователь</h3>

            <form class="popup__form" name="signup_form">
                <input type="text" name="signup_username" class="popup__input" placeholder="Имя пользователя">
                <input type="email" name="signup_email" class="popup__input" placeholder="e-mail">
                <input type="password" name="password_first" class="popup__input" autocomplete="off" placeholder="пароль">
                <input type="password" name="password_second" class="popup__input" autocomplete="off" placeholder="пароль еще раз">
                <h3 id="wrong_password_message" class="popup__title popup__title-message"></h3>
                <div class="popup__buttons-frame">
                  <button id="register_link" class="button popup__button-login">Регистраиця</button>
                </div>
            </form>
              <p id="back_to_signup_link" class="popup__link"><-назад к входу</p>
          </div>
      </div>

      <div id="waiting_spinner" class="popup-waiting">
        <div class="popup-waiting__spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
      </div>

  </div>
</body>
</html>
